.Overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Overlay .content {
	position: absolute;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 25px;
	align-items: center;
	text-align: center;
}

.Overlay .content > .close-button {
	position: absolute;
	top: 0;
	right: 0;
}

.Overlay .content button {
	margin: 15px;
}