#PlayingCardContainer {
  margin: 18px;
  padding: 3px;
}

.PlayingCard {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  min-width: 80px;
  height: 15vw;
  min-height: 120px;
  border-radius: 5px;
  padding: 8px;
  border: solid 1px #000000;
}

.face-up-card {
  font-size: 60px;
}

.PlayingCard > img {
  height: 100%;
  width: 100%;
}
