.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App header {
  margin: 40px 0 20px 0;
  text-align: center;
}

.App .level-btn-container {
  flex-direction: row;
}

button {
  margin: 20px;
  padding: 15px;
  transition-duration: 0.4s;
  border-radius: 8px;
  width: 200px;
  font-size: 1em;
  border: 3px solid #0E2D59;
  background-color: #0E2D59;
  color: white;
}

button:hover {
  background-color: white;
  color: #0E2D59;
}
