.PlayingCard {
  width: 10vw;
  height: 15vw;
  border: black solid 2px;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  background-color: tan;
  color: sienna;
}

.face-up-card {
  background-color: wheat;
  color: brown;
}