.PlayingCard {
  width: 150px;
  height: 200px;
  border: black solid 2px;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  background-color: tan;
  color: sienna;
}

.face-down {
  background-color: wheat;
  color: brown;
}